<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=pageTitle%>
    </title>
</head>

<body>
    <form action="/" method="POST">
        <label for="userName">Username</label><br>
        <input type="text" name="userName" id="userName"><br>
        <button class="btn" type="submit">Add Username</button>
    </form>

</body>

</html>